<div id="footer" class="footer-wrapper anim-open-sesame relative">

  <footer class="section footer-main bg-black text-white z-50">
    <div class="container">

      {% block footer %}

        {% set footer = craft.globalSets().handle("footer").one() %}
        {% set contact = craft.globalSets().handle("contactDetails").one() %}

        <div class="row my-16 md:my-20 lg:my-40">
          <div class="col w-full md:w-6/12 lg:w-5/12 lg:ml-2/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="text-2xlarge font-medium">
                {{ footer.footerText|nl2br }}
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="text-2xlarge">
                <a class="anim-underline-in leading-tight" href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a><br>
                <a class="anim-underline-in leading-tight" href="mailto:{{ contact.emailAddress }}">{{ contact.emailAddress }}</a>
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12 lg:ml-2/12">
            <div class="mb-8 md:mb-12 lg:mb-0">
              <p class="text-2xlarge">
                {{ contact.address|nl2br }}
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
              <p class="text-2xlarge">

                {% for item in footer.socialMedia.all() %}

                  <a class="anim-underline-in leading-tight" target="_blank" href="{{ item.linkToPage }}">
                    {{item.label }}
                  </a><br>

                {% endfor %}

              </p>
          </div>
        </div>
      {% endblock %}

    </div>
  </footer>

</div>