{# Default page #}

{% extends "core/base.twig" %}

{% block main %}
    <div class="toggle-footer-off"></div>
    
    <section class="section bg-black text-white z-50 min-h-screen flex items-center text-xl md:text-2xl xl:text-3xl">
      <div class="container">

        {# {% set footer = craft.globalSets().handle("footer").one() %}
        {% set contact = craft.globalSets().handle("contactDetails").one() %}

        <div class="row my-16 md:my-20 lg:my-40">
          <div class="col w-full md:w-6/12 lg:w-5/12 lg:ml-2/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="text-footer font-medium">
                {{ footer.footerText|nl2br }}
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="text-footer">
                <a class="anim-underline-in leading-tight" href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a><br>
                <a class="anim-underline-in leading-tight" href="mailto:{{ contact.emailAddress }}">{{ contact.emailAddress }}</a>
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12 lg:ml-2/12">
            <div class="mb-8 md:mb-12 lg:mb-0">
              <p class="text-footer">
                {{ contact.address|nl2br }}
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <p class="text-footer">

              {% for item in footer.socialMedia.all() %}

                <a class="anim-underline-in leading-tight" target="_blank" href="{{ item.linkToPage }}">
                  {{item.label }}
                </a><br>

              {% endfor %}

            </p>
          </div>
        </div> #}

        {% set footer = craft.globalSets().handle("footer").one() %}
        {% set contact = craft.globalSets().handle("contactDetails").one() %}

        <div class="row my-16 md:my-20 lg:my-40">
          <div class="col w-full md:w-6/12 lg:w-5/12 lg:ml-2/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="font-medium">
                {{ footer.footerText|nl2br }}
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="">
                <a class="anim-underline-in leading-tight" href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a><br>
                <a class="anim-underline-in leading-tight" href="mailto:{{ contact.emailAddress }}">{{ contact.emailAddress }}</a>
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12 lg:ml-2/12">
            <div class="mb-8 md:mb-12 lg:mb-0">
              <p class="">
                {{ contact.address|nl2br }}
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
              <p class="">

                {% for item in footer.socialMedia.all() %}

                  <a class="anim-underline-in leading-tight" target="_blank" href="{{ item.linkToPage }}">
                    {{item.label }}
                  </a><br>

                {% endfor %}

              </p>
          </div>
        </div>

      </div>

    </div>
  </section>

{% endblock %}