{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <div class="sesame-gate locked">

  <section class="hero relative anim-fade-out">
    <div class="container anim-perspective-wrapper absolute inset-0 flex items-center justify-center z-0">
      <div class="w-1/2">
        <div class="anim-perspective-card w-full" style="padding-top: 100%"></div>
      </div>
    </div>

    <div class="container pointer-events-none relative z-10" style="transform: translateZ(400px)">

      <div class="row">
        <div class="col w-full md:w-10/12 lg:w-8/12 mx-auto flex justify-center">
          <div class="anim-hero">
            <div class="anim-hero-logo block text-3xlarge absolute left-0 right-0 flex justify-center">
            {# <div class="w-full"> #}
              <span class="anime-hero-logo-item">fff</span>
              <span class="anim-hero-shrinker left">u</span>
              <span class="anim-hero-shrinker left">n</span>
              <span class="anim-hero-shrinker left">c</span>
              <span class="anim-hero-shrinker left">t</span>
              <span class="anim-hero-shrinker left">i</span>
              <span class="anim-hero-shrinker left">o</span>
              <span class="anim-hero-shrinker left">n</span>
              <span class="anime-hero-logo-item">.s</span>
              <span class="anim-hero-shrinker right">t</span>
              <span class="anim-hero-shrinker right">u</span>
              <span class="anim-hero-shrinker right">d</span>
              <span class="anim-hero-shrinker right">i</span>
              <span class="anim-hero-shrinker right">o</span>
            {# </div> #}
            </div>
            <div class="anim-hero-text block text-3xlarge hidden">
              {{ entry.hero }}
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="section anim-bg-color text-black" data-anim-from-color="#0C0C0C" data-anim-to-color="#F8F8F8" data-anim-hook="0.65" data-anim-duration="400">
    <div class="container my-40">

      <div class="row">
        <div class="col w-full md:w-10/12 lg:w-8/12 mx-auto">
          <p class="text-xlarge">
            {{ entry.introText }}
          </p>
        </div>
      </div>

    </div>
  </section>

  {#  #}

  <section class="section">
    <div class="container">

      <div class="relative coming-soon-wrapper flex">

        {% for highlight in entry.comingSoon.all() %}

          <figure class="coming-soon relative overflow-hidden">
            {% include "components/_image.twig" with {
              image : highlight.image.first()
            } %}
          </figure>

          <div class="coming-soon-label section container absolute inset-0 z-20">
              <div class="h-full flex flex-col justify-between" style="width:25vw; max-width: 400px;">
                <p class="highlight-text w-full text-xlarge mt-8">
                  {{ highlight.text }}
                </p>
                <p class="highlight-caption text-3xlarge font-medium leading-tight">
                  {{ highlight.caption }}
                </p>
              </div>
          </div>

        {% endfor %}

        {# <div class="coming-soon bg-red-500 z-0"></div>
    <div class="coming-soon bg-blue-500 z-0"></div>
    <div class="coming-soon bg-green-500 z-0"></div> #}
      </div>

    </div>
  </section>

  {#  #}

  <section class="section bg-white text-black">
    <div class="container my-40">

      {% set article = craft.entries.section("articles").first() %}

      {% set text = "" %}

      {% for content in article.articleContent %}
        {% if content.type == "text" %}
          {% set text = text ~ " " ~ content.text | striptags %}
        {% endif %}
      {% endfor %}

      {% set firstPart = text | slice(0, 144) %}
      {% set secondPart = text | slice(144) %}
      {% set index = secondPart | indexOf(".") %}
      {% set secondPart = secondPart | slice(0, index) %}

      <div class="row lg:flex-row-reverse">
        <div class="col w-full mb-8 md:w-10/12 lg:w-5/12 md:mx-1/12 lg:ml-0 lg:mb-0">
          {% include "components/_figure.twig" with {
            image : article.thumbnail.first()
          } %}
        </div>
        <div class="col w-full md:w-10/12 lg:w-4/12 md:mx-1/12 flex flex-col justify-center">
          <div>
            <h3 class="text-xlarge mb-2">{{ article.title }}</h3>
            <p class="text-regular mb-4">{{ firstPart ~ secondPart }}...</p>
            <a href="{{ article.url }}" class="button">Read Article</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  </div>

{% endblock %}