{% extends "core/base.twig" %}

{% block main %}

  <section class="section header-offset bg-white text-black">
    <div class="container">

      <div class="row">
        <div class="col w-full md:w-10/12 md:ml-1/12 lg:w-8/12 lg:ml-2/12">
          <p class="text-regular mb-4">
            {{ entry.postDate|date("F d, Y")}}
          </p>
          <h1 class="font-bold text-2xlarge w-9/12">
            {{ entry.title }}
          </h1>

          {% for content in entry.articleContent %}

            {% if content.type == "text" %}

              <div class="anim-move-in my-16 text-large article-content-text w-9/12">
                {{ content.text }}
              </div>

            {% elseif content.type == "images" %}

              {% if content.images | length == 1 %}

                <div class="anim-move-in w-full my-16">
                  {% include "components/_image.twig" with {
                    image : content.images.first()
                  } %}
                </div>

              {% elseif content.images|length == 2 %}

                <div class="row my-8">

                  <div class="col anim-move-in w-full mb-8 md:w-1/2 md:mb-0">
                    {% include "components/_image.twig" with {
                      image : content.images.all()[0]
                    } %}
                  </div>

                  <div class="col anim-move-in w-full md:w-1/2" data-anim-delay="200">
                    {% include "components/_image.twig" with {
                      image : content.images.all()[1]
                    } %}
                  </div>

                </div>

              {% endif %}

            {% elseif content.type == "html" %}

              <div class="anim-move-in my-8 font-medium">

                {{ content.html|raw }}

              </div>

            {% endif %}

          {% endfor %}
        </div>
      </div>

    </div>
  </section>

  {% set articles = craft.entries.section("articles").all() %}

  {% set index = 0 %}

  {% for item in articles %}

    {% if item.id == entry.id %}
      {% set index = loop.index0 %}
    {% endif %}

  {% endfor %}

  {% set indexNext = index + 1 %}
  {% if indexNext >= articles | length %}
    {% set indexNext = 0 %}
  {% endif %}

    <section class="section bg-white text-black text-xlarge">
    <div class="container">
      <div class="row">
        <div class="col w-full lg:w-10/12 lg:ml-2/12 mb-8">
          <a class="anim-underline-in text-black" href="{{ articles[indexNext].url}}">Volgend artikel</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
